.imagee{
  width: 100px;
  height: 100px;
  position: center;
  
}
.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color: black;

}
.banner-text p{
  color: black;
  font-size: 20px;
  padding: 1em;
}